name: Publish to TestPyPI

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "pyproject.toml"

permissions:
  contents: read
  id-token: write   # required for trusted publishing

jobs:
  testpypi-publish:
    runs-on: ubuntu-latest

    environment:
      name: testpypi
      url: https://test.pypi.org/p/ble2wled

    steps:
      - uses: actions/checkout@v4
        with:
            fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install build tools
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build package
        run: python -m build

      - name: Show version
        run: |
            python -m pip install hatchling hatch-vcs
            python - <<EOF
            from hatchling.version import get_version
            print(get_version("."))
            EOF
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
